In [1]:
import numpy as np

In [4]:

a=np.arange(10)

In [3]:
np.max(np.arange(10))

9

In [5]:
np.sqrt(a)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [6]:
s=np.Series[1,2,3,4],index=["a","b","c","d"]

ValueError: too many values to unpack (expected 2)

In [7]:
sports{"a"}

SyntaxError: invalid syntax (3348547741.py, line 1)

In [8]:
s["a"]

TypeError: list indices must be integers or slices, not str

In [9]:
import pandas as pd
import numpy as np

In [10]:
s1=pd.Series([1,2,3,4], index=['cricket','football','baseball','golf'])
s1

cricket     1
football    2
baseball    3
golf        4
dtype: int64

In [11]:
s2=pd.Series([1,2,3,4], index=['cricket','football','baseball','golf'])
s2+s1

cricket     2
football    4
baseball    6
golf        8
dtype: int64

In [12]:
s2=pd.Series([11,21,31,41], index=['1ricket','1football','1baseball','1golf'])
s1+s1

cricket     2
football    4
baseball    6
golf        8
dtype: int64

In [13]:
s2=pd.Series([11,21,31,41], index=['ricket','1football','1baseball','1golf'])
s2

1ricket      11
1football    21
1baseball    31
1golf        41
dtype: int64

In [14]:
s1+s2

1baseball   NaN
1football   NaN
1golf       NaN
1ricket     NaN
baseball    NaN
cricket     NaN
football    NaN
golf        NaN
dtype: float64

In [17]:
s2=pd.Series([11,21,31,41], index=['cricket','1football','1baseball','1golf'])
s2

cricket      11
1football    21
1baseball    31
1golf        41
dtype: int64

In [18]:
s1+s2

1baseball     NaN
1football     NaN
1golf         NaN
baseball      NaN
cricket      12.0
football      NaN
golf          NaN
dtype: float64

In [20]:
df1=pd.DataFrame(np.random.rand(8,5),index="a b c d e f g h".split(),column="a1 b1 c1 d1 e1 f1 g1 h1".split())
df1

TypeError: DataFrame.__init__() got an unexpected keyword argument 'column'

In [21]:
df1=pd.DataFrame(np.random.rand(8,5),index="a b c d e f g h".split(),columns="a1 b1 c1 d1 e1".split())
df1

ValueError: Shape of passed values is (8, 5), indices imply (8, 8)

In [22]:
df1=pd.DataFrame(np.random.rand(8,5),index="a b c d e f g h".split(),columns="a1 b1 c1 d1 e1".split())
df1

         a1        b1        c1        d1        e1
a  0.045063  0.646618  0.706892  0.489430  0.349955
b  0.329575  0.863575  0.907168  0.914776  0.617244
c  0.006706  0.324254  0.149742  0.221128  0.906331
d  0.458181  0.764586  0.052053  0.239666  0.968568
e  0.282265  0.417796  0.543274  0.209579  0.169965
f  0.313201  0.625304  0.374012  0.478455  0.679157
g  0.823701  0.163697  0.201251  0.820845  0.633872
h  0.323854  0.375382  0.377089  0.927052  0.893112

In [23]:
df2={'id':[1,2,3,4,5]}

In [24]:
df2={'id':[1,2,3,4,5], 'name':['a','b','c','d','e'],'profit':[6,7,8,9,10]}

In [25]:
df2

{'id': [1, 2, 3, 4, 5],
 'name': ['a', 'b', 'c', 'd', 'e'],
 'profit': [6, 7, 8, 9, 10]}